[submodule "external/inja"]
	path = external/inja
	url = https://github.com/pantor/inja.git
	branch = v3.4.0
[submodule "external/url-matcher"]
	path = external/url-matcher
	url = https://github.com/cpp-for-everything/RegexMatcher.git
	branch = main
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2
	branch = v3.5.2
